@model UniDormMVC.Models.Notification

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Notification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="notifTitle" class="control-label"></label>
                <input asp-for="notifTitle" class="form-control" />
                <span asp-validation-for="notifTitle" class="text-danger"></span>
            </div>
            <style>
                #CreateBtn{
                    padding-top: 10px;
                }
            </style>
            <div class="form-group", id="CreateBtn">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
